

.AppBarLinks {
    background-color: transparent;
    border: none;
    font-weight: 500!important;
    font-size: 17px;
}

button.AppBarLinks:hover {
    color:rgba(37, 127, 216, 1)
}

button.AppBarLinks:active {
    color: transparent;
}

.links {
    text-align: right;
    justify-content: right;
    float: right;
    font-weight: 400!important;
    /* font-family: "Hind"!important; */
}

.cortland {
    display: inline-flex;
    justify-content: left;
    color: black;
    font-family: "Hind"!important;
    font-size: 25px;
    height: 50px;
}
